nav {
  background-color: transparent;
  z-index: 3;
  position: relative;
  padding: 0.9rem 0;

  .header {
    display: flex;
    min-height: 80px;
    a {    
      width: 100%;
      min-width: 181px;
      left: -181px;
      top: -6px;
      border-bottom: none;
      height: 45px;
      &:hover {
        opacity: 1
      }
    }
    h1 {
      left: 0;
      top: 0;
    }
  }
  canvas[resize] {
    z-index: 1;
    position: relative;
    background: $jellyGreen;
    width: 178px;
    height: 39px;
  }
  .navbar-brand {
    position: relative;
    top: -3px;
  }
  h5 a {
    color: $brandRed;
    font-weight: 700;
  }
  a {
    @include text-antialiased;
    color: $shaleDark;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -.1px;
    &:hover {
      color: $brandRed;
      opacity: 0.8;
      transition-duration: 0.15s;
      text-decoration: none;
    }
  }
  svg {
    height: 23px;
    width: auto;
  }
  .dropdown,
  .dropdown.show {
    display: inline-block;
    margin: 0;
  }
  .navbarDropdown {
    left: -80px;
  }
  .btn-register {
    @include text-antialiased;
    font-size: 14px;
    padding: 3px 9px 4px 9px;
    font-weight: 700;
  }
  &.admin {
    border-top: 1px solid red;
  }
}


.right {
  display: inline-flex;
  align-items: baseline;
}

.turbolinks-progress-bar {
  visibility: hidden;
}