nav {
  background-color: transparent;
  z-index: 3;
  position: relative;
  padding: 0.9rem 0;

  .header {
    @media (min-width: 726px) {
      a.newsletter {
        left: 0px;
      }
    }
    width: 100%;


    display: flex;
    min-height: 80px;
    a {
      width: 100%;
      min-width: 181px;
      left: -181px;
      top: -6px;
      border-bottom: none;
      height: 45px;
      &:hover {
        opacity: 1
      }
    }

    a.newsletter {
      @include text-antialiased;
      color: $shaleDark;
      font-size: 15px;
      text-align: right;
      letter-spacing: -.1px;
      width: max-content !important;
      // min-width: 179px;
      padding-bottom: 0px;
      border-bottom: 4px solid $jellyGreen;
      position: relative;
      line-height: 52px;
      top: -6px;
      right: 0px;
      -webkit-font-smoothing: antialiased;
      font-weight: 600;

      &:hover {
        color: $black;
        animation-name: changeBorderColor;
        animation-iteration-count: infinite;
        animation-duration: .8s;
        opacity: 1;
        text-decoration: none;
      }
    }
    h1 {
      left: 0;
      top: 0;
    }
  }
  canvas[resize] {
    z-index: 1;
    position: relative;
    background: $jellyGreen;
    width: 178px;
    height: 39px;
  }
  .navbar-brand {
    position: relative;
    top: -3px;
  }
  svg {
    height: 23px;
    width: auto;
  }
}

.right {
  display: inline-flex;
  align-items: baseline;
}

.turbolinks-progress-bar {
  visibility: hidden;
}