// html,
// body {
//   margin: 0;
//   overflow: hidden;
//   height: 100%;
// }

/* Scale canvas with resize attribute to full size */
canvas[resize] {
  z-index: 1;
  position: relative;
  background: $jellyGreen;
  width: 181px;
  height: 39px;
}

.home {
  width: 100%;
  .header {
    background: blue;
    width: 100%;
    min-height: 300px;
    display: block;
    z-index: 3;
    background: white;
    mix-blend-mode: lighten;
    border: 5px solid $jellyGreen;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 32px;

    h1 {
      position: relative;
      top: -50px;
      font-size: 38px;
      font-family: CircularStd;
      font-weight: 800;
      -webkit-font-smoothing: antialiased;
      z-index: 2;
      margin: 0 auto;
      width: 100%;
      height: auto;
      display: inline-block;
      mix-blend-mode: lighten;
      opacity: 1;
      user-select: none;
      color: $jellyGreen;
      background: white;
    }
    p, a, span {
      font-family: CircularStd;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      -webkit-font-smoothing: antialiased;
    }
    a {
      color: black;
      display: inline-block;
      font-weight: 600;
      padding-bottom: 0px;
      border-bottom: 4px solid $jellyGreen;
    }
    .block {
      margin-top: 60px;
    }
    .social-icons {
      @media (min-width: 768px) {
        float: right;
        margin-top: 0;
      }
      margin-top: 40px;
      display: inline-block;
      vertical-align: bottom;
      a {
        border: none;
      }
    }
  }

  .posts {
    .home-post {
      text-align: left;
      padding: 12px;
      width: 700px;

      h1 {
        font-size: 38px;
        -webkit-font-smoothing: antialiased;
        font-weight: 600;
      }
      p {
        -webkit-font-smoothing: antialiased;
        font-size: 19.5px;
        line-height: 30px;
        color: black;
        font-weight: 400;
      }
      .date {
        color: $grayLight;
      }
    }
  }
}

#dashboard {
  .post {
  }
}