/* Scale canvas with resize attribute to full size */
canvas[resize] {
  z-index: 1;
  position: relative;
  background: $jellyGreen;
  width: 30%;
  min-width: 181px;
  height: 39px;
}

.header-remove {
  width: 100%;
  padding: 32px;
  margin: 30px 0;
  display: block;
  z-index: 100;
  border: 5px solid $jellyGreen;
  border-radius: 8px;

  h1 {
    top: -5px;
    position: relative;
    font-size: 38px;
    font-family: CircularStd;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    z-index: 2;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: inline-block;
    // mix-blend-mode: lighten;
    opacity: 1;
    user-select: none;
    color: $jellyGreen;
    margin-bottom: 47px;
    background: white;
  }
  p, a, span {
    font-family: CircularStd;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    -webkit-font-smoothing: antialiased;
  }
  a {
    &:hover {
      color: $shale;
      animation: none;
    }
    color: black;
    display: inline-block;
    font-weight: 600;
    padding-bottom: 0px;
    border-bottom: 4px solid $jellyGreen;
  }
  .block {
    margin-top: 60px;
  }
  .social-icons {
    @media (min-width: 768px) {
      float: right;
      margin-top: 0;
    }
    margin-top: 40px;
    display: inline-block;
    vertical-align: bottom;
    a {
      border: none;
    }
  }
}

.header {
  @media (min-width: 600px) {
    width: 100%;
    min-height: 300px;
    margin: 30px 0;
    padding: 32px;
  }
  width: auto;
  padding: 32px;
  margin: 10px;

  background: blue;
  display: block;
  z-index: 3;
  background: white;
  mix-blend-mode: lighten;
  border: 5px solid $jellyGreen;
  border-radius: 8px;

  h1 {
    position: relative;
    top: -50px;
    font-size: 38px;
    font-family: CircularStd;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    z-index: 2;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: inline-block;
    mix-blend-mode: lighten;
    opacity: 1;
    user-select: none;
    color: $jellyGreen;
    background: white;
  }
  p, a, span {
    font-family: CircularStd;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    -webkit-font-smoothing: antialiased;
  }
  a {
    &:hover {
      color: $shale;
      animation: none;
    }
    color: black;
    display: inline-block;
    font-weight: 600;
    padding-bottom: 0px;
    border-bottom: 4px solid $jellyGreen;
  }
  .block {
    margin-top: 60px;
  }
  .social-icons {
    @media (min-width: 768px) {
      float: right;
      margin-top: 0;
    }
    margin-top: 40px;
    display: inline-block;
    vertical-align: bottom;
    a {
      border: none;
    }
  }
}

.home {
  width: 100%;

  .posts {
    margin-bottom: 80px;

    .home-post {
      @media (min-width: 768px) {
        width: 700px;
      }

      width: auto;
      text-align: left;
      padding: 12px;
      margin: 60px 0;

      h1 {
        a { color: $black; }
        font-size: 38px;
        -webkit-font-smoothing: antialiased;
        font-weight: 600;
      }
      p {
        -webkit-font-smoothing: antialiased;
        font-size: 19.5px;
        line-height: 30px;
        color: black;
        font-weight: 400;
      }
      .date {
        color: $grayLight;
      }
      a {
        color: $jellyGreen;
      }
    }
  }
}

#dashboard {
  .post {
  }
}

.hidden {
  opacity: 0 !important;
  position: absolute !important;
}