html,
body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
  width: 100%;
  height: 110vh;
  z-index: 1;
  position: absolute;
  top: -70px;
  background: #DE2424;
}

.home {
  .cover {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 3;
    // mix-blend-mode: darken;
    background: white;
    mix-blend-mode: lighten;
  }
  h1 {
    position: absolute;
    z-index: 2;
    top: 0;
    padding-top: 25vh;
    text-align: center;
    font-family: 'Baloo', cursive;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 200px;
    mix-blend-mode: initial;
    // mix-blend-mode: multiply;
    opacity: 1;
    letter-spacing: -0.25rem;
    user-select: none;
    color: black;
    background: white;
  }
  p {
    // font-weight: 700;
    -webkit-font-smoothing: antialiased;
    // font-family: 'Merriweather', cursive;
    font-family: 'Fredoka One', cursive;
    position: relative;
    font-size: 32px;
    text-align: center;
    margin: 0 auto;
    width: 56%;
    height: 100%;
    color: black;
    top: 54vh;
    background: transparent;
    z-index: 3;
    mix-blend-mode: initial;
    line-height: 49px;
  }
  sub {
    // color: $white;
    font-size: 32px;
    letter-spacing: 1px;
  }
}

#dashboard {
  .post {
  }
}