// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "posts/editor";

.rte-form {
  outline: 1px solid $grayLight;
  border-radius: 4px;
  padding: 3px;
  width: 100%;
  min-height: 200px;
}

.post {
  // border: 2px solid $grayLighter;
  border-radius: 6px;
  padding: 20px 22px 18px 22px;
  margin-top: 5px;

  .title, a, h1 {
    color: $shaleDark;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
  }
  .preview {
    margin: 12px 0;
    font-size: 15px;
  }
  .date {
    font-size: 14px;
    color: $grayLight;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }
}


#post-show {
  .post-header,
  .post-body,
  .post-comments {  
    @media (min-width: 768px) {
      width: 700px;
    }
    width: auto;

    margin: 0 auto;
    margin-bottom: 80px;

    .title {
      margin: 80px 0 60px 0;
      h1 {
        font-size: 38px;
      }

    }
  }

  p {
    line-height: 33px;
    font-size: 19px;
  }

  .post-comments {
    textarea {
      margin-top: 40px;
      width: 100%;
    }
  }
}

.trix-content {
  line-1eight: 1.7;
  font-size: 19px;
}