#editor {
  margin: 0 auto;
  height: auto;
  min-height: 100vh;
}

.slate-editor {
  $fontColor: $shaleDark;

  padding-top: 0px;

  input.title {
    -webkit-font-smoothing: antialiased;
    padding: 40px 0 0 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    max-width: 100%;
    height: auto;
    background-color: white;
    border: none;
    outline: none;
  }
  
  input,
  textarea {
    padding: 6px 9px;
    background-color: $white;
    color: $fontColor;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 37px;
  }

  h1 {
    font-size: 32px;
  }
  a {
    color: blue;
    text-decoration: underline; 
  }
  u {
    text-decoration: underline; 
  }

  textarea {
    min-height: 60vh;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  .button-row {
    margin: 0 auto;
    display: block;
    text-align: center;

    button {
      font-size: 16px;
      padding: 4px 10px;
    }
  }
}